
.active-pagination-button:hover {
    background-color: #f6fcff;
    color: #000000;
  }
  
  .inactive-pagination-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #1f1c2e;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .active-pagination-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    color: #000000;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .inactive-pagination-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #1f1c2e;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }




#message {
    width: 75%;
}

#form {
    width: 50%;
}

#message-container {
    width: 75%;
}

#select {
    margin-left: 20px;
}

#select-1{
    margin-left: 20px;
}

#chat-submit {
    margin-left: 20px;
}

#img-chart {
    width: 75%;
}


.my-width {
    width: 50%;
}

.select-width{
    width: 150px;
}


.login-register-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-left: 1%;
    align-items: center;
    color: #1e1b2d;
    margin-right: 3%;
}

.app-header-right {
    display: flex;
    align-items: center;
}

.home-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 1%;
    align-items: center;
    color: #1e1b2d;
    margin-right: 5%;
}

.home-link:hover {
    color: #36324b;
}

.projects-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    color: #1f1c2e;
}

.projects-section-header p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    opacity: 0.9;
    margin: 0;
    color: #1f1c2e;
    margin-bottom: 15px;
    margin-top: 25px;
}

.custom-bg-color {
    background-color: #a6bbeb;
}


.alert {
    transition: all 1s ease-in-out;
}

.alert.show {
    transform: translateY(0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


@media (max-width: 600px) {

    .my-width {
        width: 90%;
    }

    #form {
        width: 90%;
    }

    #chat-submit {
        margin-left: 0px;
    }

    #select {
        margin-left: 0px;
        width: 150px;
    }

    #select-1{
        margin-left: 0px;
        width: 150px;
    }

    #message {
        width: 90%;
    }

    #message-container {
        width: 90%;
    }

    #img-chart {
        width: 100%;
    }
    
}