{% extends 'base.html' %}
{% block content %}

{% for message in messages %} 
    <div id="message" class="bg-white rounded p-3 mx-3 shadow mb-3 overflow-auto mx-auto">
    <div class="container mb-3">
        <div class="row ">
            <p class="h4 col">{{message.title}}</p> 
        </div>
    </div> 
    {% if message.explanation.explanation != '' and message.thread.expl_enable%}
        <div class="alert alert-light font-monospace">{{ message.explanation.explanation|safe }}</div>
    {% endif %}
    
    {% include message.content_path %}
    </div>
{% endfor %}

{% endblock %}
