{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<style>




</style>

  <main id="form" class="m-auto bg-white ps-5 shadow rounded-5">
    <div class="pb-3 projects-section">
      <div class="projects-section-header">
        <p>{{form_title}}</p>
      </div>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6">
          {% for field in form %}
          <div class="mb-3">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {% if field.name != "check" and  field.name != "public"%}
              {{ field|add_class:"form-control" }}
            {% else %}
              {{field}}
            {% endif %}
          </div>
            {% if field.errors %}
              <ul class="errors">
                {% for error in field.errors %}
                  <li class="text-danger" style="font-size: 13px;">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </div>
        <p>
          <button type="submit" class="btn btn-primary mt-1">Отправить</button>
        </p>
      </form>
    </div>
  </main>
{% endblock %}
