{% load static %}
<div>
    <div class="navbar bg-primary-subtle shadow-sm fixed-top">
        <div class="app-header-left">
            <a class="home-link mx-3" href="/">
                DataPop
            </a>
        </div>
        <div class="app-header-right">
            {% if not request.user.is_authenticated %}
                
                    <a class="login-register-link" href="/login">Войти</a>
    
                    <a style="margin-right: 10px;" class="login-register-link"
                        href="/register">Зарегистрироваться</a>
    
                {% else %}
                 <a id="navbarDropdown" class="mx-2 nav-link dropdown-toggle" href="#" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                    <img class="rounded-5" style="width: 32px; height: 32px;" src="{% static 'chat/img/user_avatar.jpg' %}"> 
                    <span class="profile-txt">{{ user.get_full_name }}</span>
                </a> 
                <div class="dropdown-menu dropdown-menu-end " style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); border: white;"
                    aria-labelledby="navbarDropdown"> 

                    <a class="dropdown-item" style="--bs-dropdown-link-hover-bg: #f6fcff; color: black; --bs-dropdown-link-active-bg: #dcf3ff;"
                        href="\table">
                        Треды
                    </a>
                    <a class="dropdown-item" style="--bs-dropdown-link-hover-bg: #f6fcff; color: black; --bs-dropdown-link-active-bg: #dcf3ff;"
                        href="\">
                        Создать новый тред
                    </a>
                    <a class="dropdown-item" style="--bs-dropdown-link-hover-bg: #f6fcff; color: black; --bs-dropdown-link-active-bg: #dcf3ff;"
                        href="\public">
                        Общедоступные треды
                    </a>
                    <li><hr class="dropdown-divider"></li>
                    <a class="dropdown-item" style="--bs-dropdown-link-hover-bg: #f6fcff; color: black; --bs-dropdown-link-active-bg: #dcf3ff;"
                        href="\logout"
                        onclick="event.preventDefault();
                                                 document.getElementById('logout-form').submit();">
                        Выйти
                    </a>

                    <form id="logout-form" action="\logout\" method="POST" class="d-none">
                        {% csrf_token %}
                    </form>
                </div>
                {% endif %}
        </div>
    </div>


    <div style="margin-bottom: 90px;" >
        
    </div>