<div id="select-1" class="form-group">
  <select title="Выберите" id="analysis-options" data-style="rounded shadow" class="form-control selectpicker" aria-label="Default select example" data-live-search="true">
    <!-- Варианты для полного исследования/измения файла -->
    <optgroup label="Графики">
      
      <option id="2-columns-analysis" selected value="dendrogram">dendrogram</option>

      <option id="full-analysis" selected value="heatmap">Тепловая карта</option>
      <option id="full-analysis" value="boxplot_graph">Ящики с усами</option>
      <option id="full-analysis" value="histogram_graph">Гистограммы</option>
      <option id="columns-analysis" value="pie_plot">Круговая диаграмма</option>
      <option id="2-columns-analysis" value="bar_plot">Столбцовая диаграмма</option>
      <option id="2-columns-analysis" value="scatter_plot">Диаграмма рассеяния</option>
    </optgroup>
    <optgroup label="Статистика">
      <option id="full-analysis" value="all_rows">Показать все строки файла</option>
      <option id="full-analysis" value="object_statistics">Статистика объектов</option>
      <option id="full-analysis" value="non_object_statistics">Статистика не объектов</option>
      <option id="full-analysis" value="show_nans">Показать пропущенные значения</option>
    </optgroup>
    <optgroup label="Изменение файла">
      {% comment %} <option id="full-analysis" value="drop_na">Удалить все NaN</option> {% endcomment %}
      <option id="full-analysis" value="back_to_roots">Вернуться в исходное положение</option>
      <option id="columns-analysis" value="delete_column">Удалить столбец</option>
      <option id="columns-analysis" value="group_by_sum">Группировка (Суммирование)</option>
      <option id="columns-analysis" value="group_by_mean">Группировка (Среднее)</option>
    </optgroup>
    <optgroup label="Картограммы">
      <option id="2-columns-analysis" value="state_map_plot">Фоновая картограмма США</option>
    </optgroup>
  </select>
</div>
